#rename in ".env"

TOKEN = ""
SENTRY_TOKEN = ""
SENTRY_ENV = ""
LOGDIR = "bot/logs/"
LOG_LVL_DI = "DEBUG"
LOG_LVL_MOON = "DEBUG"
DATABASE = "bot/data.db"
SERVERID = "" # Int: Discord Server ID
SERVER_WHITELIST = '[]' # Server IDs
JSONDIR = "bot/jsons/"
CONFIG = "bot/config.ini"
WELCOMEMSGS = "bot/resources/welcome_messages.txt"

DEV = ""
